<h1> Charles Sganga </h1>
<p id="bio">Charles Sganga is a freelance writer currently living in the Greater New York City area. He graduated from Kean University in 2018, and has been writing for the Body Lock MMA since January 2018.</p>
<img id="headshot" src="/images/cj.jpg" alt="headshot" />